<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>BOSCO-UGANDA Borehole Map</title>
    <style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
	html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #map {
        height: 60%;
		border: 1px solid black;
    }
    </style>
  </head>
  <body>
    <div id="map"></div> 
    <script>
		var blueMarker= "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
		var greenMarker= "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
		var redMarker= "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
		var Paimol;
		var map;
 
		function setMarker(NAME, STATUS, LAT,LON){ 
			myLat=parseFloat(LAT);
            myLon=parseFloat(LON);
			if (!(STATUS.localeCompare("Healthy"))){
				statusMarker= greenMarker;
			}
			else if(!(STATUS.localeCompare("Unknown Problem"))){
				statusMarker= blueMarker;
			}
			else{
				statusMarker=redMarker;
			}
            var myLatLng = {lat: myLat, lng: myLon};            
            var marker = new google.maps.Marker({
               position: myLatLng,
               map: map,
			   icon: statusMarker,
			});   
			var contentString= 
				'<b>'+NAME+'</b>'+
				'<br>Status: '+STATUS;
			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});
			marker.addListener('mouseover', function() {
				infowindow.open(map, marker);
			});
			marker.addListener('mouseout', function(){
				infowindow.close(map, marker);
			});
			console.log("setting markers");
		}
		function initMap(){
			console.log("Loading the map...");
			Paimol = {lat: 3.1606, lng: 33.4192};
			map = new google.maps.Map(document.getElementById('map'), {
				zoom: 12,
				center: Paimol
			});	
			{% for bh in borehole_list_all %}       
				setMarker( "{{bh.name}}", "{{bh.current_status}}", {{bh.lat}},{{bh.lon}});
			{% endfor %}
		}
	  console.log("Loaded the page");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAa_llkFziE0s6Baae-TCXUDaya-_PwYE4&callback=initMap"></script>
<table>
    <tr>
		<th>Borehole Number</th>
		<th>Name</th>
		<th>Status</th>
		<th>Submission Date</th>
    </tr>
	{% for bh in borehole_list_all %}
		<tr>
			<td>{{bh.borehole_ID}}</td>
			<td>{{bh.name}}</td>
			<td>{{bh.current_status}}</td>
			<td>{{bh.status_time}}</td>
		</tr>
	{% endfor %}
</table>
</body>
</html>