<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
    <tr>
        <th>Borehole Number</th>
        <th>Name</th>
        <th>Status</th>
    </tr>
    {% for bh in borehole_list_all %}
        <tr>
            <td>{{bh.borehole_ID}}</td>
            <td>{{bh.name}}</td>
            <td>{{bh.current_status}}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
